<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create" method = "post"> 
         <!--by default form ki method get hoti hai toh change it to post  -->
        <input type="text" placeholder="enter name" name = "username"> 
        <!-- by name these values are identified in the backend if you will not give name the data will go to backend but will get lost -->
        <input type="text" placeholder="email" name = "email">
        <input type="text" placeholder="password" name= "password">
        <input type="text" placeholder="imageUrl" name = "imageUrl">
        <input type="submit" name="" id="">
    </form>
</body>
</html>